<div class="w3-bar" style="text-align: center;">
    {% if hx_get_prev %}
    <button
      class="w3-button w3-left w3-light-blue w3-hover-blue"
      hx-get="{{ hx_get_prev }}"
      hx-swap="innerHTML"
      hx-target="#dialogueItem"]
      hx-replace-url={{ hx_get_prev_replace_url }}
    >
    {% else %}
    <button class="w3-button w3-left w3-disabled">
    {% endif %}
        &laquo; Назад
    </button>
    {{ item }}
    {% if hx_get_next %}
    <button
        class="w3-button w3-right w3-light-blue w3-hover-blue"
        hx-get="{{ hx_get_next }}"
        hx-swap="innerHTML"
        hx-target="#dialogueItem"
        hx-replace-url={{ hx_get_next_replace_url }}
    >
    {% else %}
    <button class="w3-button w3-right w3-disabled">
    {% endif %}
        Вперед &raquo;
    </button>
</div>

<p>
    <b>{{ dialogue_item["speaker"] }}</b>
    {% if hx_get_next %}
    <div class="speech"
        hx-get="{{ hx_get_next }}"
        hx-swap="innerHTML"
        hx-target="#dialogueItem"
        hx-replace-url={{ hx_get_next_replace_url }}
    >
    {% else %}
    <div class="speech">
    {% endif %}
    <p> {{ dialogue_item["speech"]|safe }}</p>
    </div>
</p>