<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            padding: 0;
            /* Center the form on the page */
            margin: 0 auto;
            width: 500px;
            height: 100%;
        }
        .backLink {
            padding: 0em 1em;
            color: lightcoral;
        }
        .dialogueItem {
            padding: 0.8em 1em;
        }
        .speech {
            text-align: justify;
            text-justify: auto;
            height: 100%;
        }
        sup {
            color: silver;
        }
        .comment {
            color: silver;
            font-size: small;
        }
        .inline-block {
            display: inline-block;
            vertical-align: middle;
            align: center;
        }
        input[type='number']{
            width: 50px;
            background-color: transparent;
            border: 0px solid;
            text-align: center; 
            border-bottom-width: 1px;
            outline: none;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
        
        @media only screen and (max-width: 505px) {
            body {
                width: 100%;
                border: 5px;
            }
        }
    </style>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
<div class="backLink">
    <a href="/">Диалоги</a> / <a href="{{ back_link }}">{{ title }}</a> / <a href="">Текст</a>
</div>
<div id="dialogueItem" class="dialogueItem">
    {% include 'dialogue_item.j2' %}
</div>
</body>
</html>
