<div class="w3-bar" style="text-align: center;">
    {% if hx_get_prev %}
    <button
      id="prevButton"
      class="w3-button w3-left w3-light-blue w3-hover-blue"
      hx-get="{{ hx_get_prev }}"
      hx-swap="innerHTML"
      hx-target="#dialogueItem"]
      hx-replace-url={{ hx_get_prev_replace_url }}
    >
    {% else %}
    <button id="prevButton" class="w3-button w3-left w3-disabled">
    {% endif %}
        &laquo; Назад
    </button>
    <input
        type="number"
        id="itemCounter"
        name="item"
        min="1"
        max={{last_item}}
        value="{{ item }}"
        onchange="location.replace(location.pathname + '?item=' + this.value)"
    > / {{ last_item }}
    {% if hx_get_next %}
    <button
        id="nextButton"
        class="w3-button w3-right w3-light-blue w3-hover-blue"
        hx-get="{{ hx_get_next }}"
        hx-swap="innerHTML"
        hx-target="#dialogueItem"
        hx-replace-url={{ hx_get_next_replace_url }}]
    >
    {% else %}
    <button id="nextButton" class="w3-button w3-right w3-disabled">
    {% endif %}
        Вперед &raquo;
    </button>
</div>

<p>
    {% if dialogue_item["speaker"] %}
    <b>{{ dialogue_item["speaker"] }}</b>
    {% endif %}
    {% if hx_get_next %}
    <div class="speech"
        hx-get="{{ hx_get_next }}"
        hx-swap="innerHTML"
        hx-target="#dialogueItem"
        hx-replace-url={{ hx_get_next_replace_url }}
    >
    {% else %}
    <div class="speech">
    {% endif %}
    <p> {{ dialogue_item["speech"]|safe }}</p>

    <div class="comment">
        {% for comment in comments %}
        {{comment |safe}}
        {% endfor %}
    </div>
    </div>
</p>

<script>
    document.addEventListener("keyup", (event) => {
        if (event.keyCode === 39) {
            document.getElementById("nextButton").click();
        }
        else if (event.keyCode === 37) {
            document.getElementById("prevButton").click();
        }
      });
</script>